#datasite {
  width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;

  label,
  input,
  select,
  textarea {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  ul {
    padding-left: 15px;
  }

  li {
    margin-bottom: 10px;
  }

  textarea {
    min-height: 200px;
    resize: vertical;
  }

  label {
    font-size: 14px;
  }

  input,
  select {
    margin: 5px 0 15px 0;
  }
  .user-fio input {
    margin: 5px 0 0 0;
  }

  input:focus {
    border-color: #fc2193;
  }
  select:focus {
    border-color: #fc2193;
  }

  input[type="submit"] {
    background-color: #fc2193;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
  }

  h3 {
    margin: 0 0 15px 0;
  }
}

.form-item {
  background-color: #f3f3f3;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
}
.form-item.error {
  background-color: #f7dfdf;
}

.user-education__item:not(:last-child),
.user-certificate__item:not(:last-child),
.user-additional__item:not(:last-child),
.user-skill__item:not(:last-child) {
  border-bottom: 2px dotted #fc2193;
}

/*Общее*/
.delete-button {
  background-color: transparent;
  color: #fc2193;
  border: none;
  cursor: pointer;
  padding: 0;
}

.add-button {
  background-color: #0dc6bf;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.list-item.item:first-child {
  padding: 0 0 10px 0;
}

.item {
  padding: 20px 0;
}

.user-fio .item {
  padding: 0;
}

.item.error {
  background-color: #f7dfdf;
}

.item.hover input,
.item.hover select {
  background-color: #ffa8a8;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-bottom: 0;
}

.form-info {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 2px solid red;
  line-height: 1.5;
}

.form-example {
  font-size: 12px;
  color: #818181;
}

.photo_preview img {
  width: 150px;
}
